*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solar-system{
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    animation: rotation 20s linear infinite;
}

.sun{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: orange;
    border-radius: 50%;
    animation: pulse-sun 2s linear infinite;
}

.planet{
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translate(-50%,0);
    height: 150px;
    width: 150px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    animation: rotation 10s linear infinite;
}

.earth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: skyblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.moon{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%,0);
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation: pulse-moon 2s linear infinite;
}

@keyframes pulse-sun{
    from{
        box-shadow: 0 0 0 0 red;
    }
    to{
        box-shadow: 0 0 0 50px rgba(0,0,0,0);
    }
}

@keyframes pulse-moon{
    from{
        box-shadow: 0 0 0 0 grey;
    }
    to{
        box-shadow: 0 0 0 25px rgba(0,0,0,0);
    }
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

